.tiptap.ProseMirror {
	h1,
	h2,
	h3,
	h4 {
		position: relative;
		color: inherit;
		font-style: inherit;

		&:first-child,
		&:first-of-type {
			margin-top: 0;
		}
	}

	h1 {
		font-size: 1.5em;
		font-weight: 700;
		margin: 1em 0;
	}

	h2 {
		font-size: 1.25em;
		font-weight: 700;
		margin: 1em 0;
	}

	h3 {
		font-size: 1.125em;
		font-weight: 600;
		margin: 1em 0;
	}

	h4 {
		font-size: 1em;
		font-weight: 600;
		margin: 1em 0;
	}
}
