.node-taskList,
.node-bulletList,
.node-orderedList {
	&.is-empty::before {
		content: attr(data-placeholder);
		color: #9ca3af;
		pointer-events: none;
		position: absolute;
		left: 26px;
		right: 0;
		line-height: 28px;
	}
}
