.node-task-list,
.node-bullet-list,
.node-ordered-list {
	&.is-empty::before {
		content: attr(data-placeholder);
		color: #9ca3af;
		pointer-events: none;
		position: absolute;
		left: 26px;
		right: 0;
	}
}
