#notion-editor-content {
	padding: 40px;

	& * {
		box-sizing: border-box;
	}

	.is-empty.is-editor-empty::before {
		content: attr(data-placeholder);
		color: #9ca3af;
		pointer-events: none;
		position: absolute;
		left: 0;
		right: 0;
	}

	// .is-empty.is-editor-empty:has(.ProseMirror-trailingBreak:only-child)::before {
	// 	content: attr(data-placeholder);
	// 	color: #9ca3af;
	// 	pointer-events: none;
	// }

	.ProseMirror-focused {
		outline: none;
	}
}
