#notion-editor-content {
	position: relative;

	& * {
		box-sizing: border-box;
	}

	.ProseMirror-focused {
		outline: none;
	}

	.list-item-content {
		& > [data-node-view-content-react] {
			padding-left: 2px;
		}
	}

	#notion-editor-container {
		padding: 0 80px 80px;
	}

	.paragraph.is-empty::before {
		content: attr(data-placeholder);
		color: #9ca3af;
		pointer-events: none;
		position: absolute;
		left: 0;
		right: 0;
	}

	[data-id] {
		position: relative;
	}
}
