#notion-editor-content {
	& * {
		box-sizing: border-box;
	}

	.ProseMirror-focused {
		outline: none;
	}

	.notion-editor-container {
		padding: 40px;
	}

	.paragraph.is-empty::before {
		content: attr(data-placeholder);
		color: #9ca3af;
		pointer-events: none;
		position: absolute;
		left: 0;
		right: 0;
	}

	[data-id] {
		position: relative;
	}
}
