@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-checked: var(--checked);
	--color-text-color: var(--text-color);
	--color-background: var(--background);
}

:root {
	--checked: #155dfc;
	--text-color: #1b1b1b;
	--radius: 0.65rem;
	--background: #ffffff;
}

.dark {
	--checked: #155dfc;
	--text-color: #f8f8f8;
	--background: #202020;
}
